{% extends "base.html" %}

{% block content %}
<h1>About me:</h1>

<p>Alicia Ruz</p>

<h2>Education:</h2>
<p>I am a Junior Computer Science Major at the University of Memphis. <br>
    I graduated from Houston High School in Germantown, TN through the Honors Academy</p>

<h2>Professional Biography:</h2>
<p>Although not in my field, I am currently working as a sales associate at a Hobby Store near campus. <br>
    I have been at the same location for about 3 years </p>

<h2>Proficiencies:</h2>
<p>As of now, I have proficiencies in Python, Ruby, HTML, CSS, and Javascript. <br>
I plan to hone these skills, and look forward to learning more.</p>
{% endblock %}