{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>Welcome to my Dev Portfolio</h1>

    <p> In this portfolio, I will be showing off my projects. <br>
    These include coding projects, art, photography, and more! <br> </p>

    <p>I have been coding for several years now, and have an eagerness to continue learning as I go. <br>
        Looking to improve myself on creating aesthetically pleasing designs which are user-friendly as well as pleasant to the eye. <br>
        After having an introduction to web design and coding overall in my early years, I have held that passion close and am eager to grow.
        
        Please take a look around, and feel free to contact me!
    </p>
</body>
</html>
{% endblock %}