{% extends "base.html" %}

{% block content %}
<h1>My Work:</h1>
<p>This is a link to my GitHub: </p>
<a href="url"> https://github.com/CawWoo </a>

<h2>Here is a recent project:</h2>
<p>This is a GitHub Pages deployment:  </p>
<a href="url"> https://cawwoo.github.io/sa-15/ </a>

<p></p>

<p>The contents of this page includes a filtering function in order to pick which pictures are seen </p>
<p> This is done using a combination of HTML, Javascript, and CSS, which have been recent focuses of mine as of late </p>
{% endblock %}
